<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471565641384-llmk6lud6tp676g65oq7h5nbdctsesmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471565641384-llmk6lud6tp676g65oq7h5nbdctsesmd</string>
	<key>API_KEY</key>
	<string>AIzaSyBgEOdLeQZDKpHxLlX0Z2PxoqldDoA_9NA</string>
	<key>GCM_SENDER_ID</key>
	<string>471565641384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyivkk.CGP-Task</string>
	<key>PROJECT_ID</key>
	<string>cgp-task</string>
	<key>STORAGE_BUCKET</key>
	<string>cgp-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471565641384:ios:8cc14c8d7d555f45cc849d</string>
</dict>
</plist>